@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.containers, .categorys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.input_profile {
  background: #E9ECEF;
  background-repeat: no-repeat;
  background-position-x: 5px;
  padding: 0 30px;
  background-position-y: center; }

.user__btn {
  border-radius: 20px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.price--not--discount {
  color: #d43737; }

.font_causten_round_black_oblique {
  font-family: Causten Round Blackk Oblique; }

.font_causten_round_medium_oblique {
  font-family: Causten Round Medium Oblique; }

.font_causten_round_semi_bold_oblique {
  font-family: Causten Round Semi Bold Oblique; }

header {
  padding: 0 20px;
  background: #fff159; }

.input__group > img {
  position: absolute;
  z-index: 1;
  margin-top: 3px;
  margin-left: 10px; }

.input__group--relative {
  position: relative;
  width: 70%;
  border: none;
  border-radius: 10px;
  height: 23px;
  padding-left: 37px; }

nav > ul > li {
  display: inline-block; }

nav > ul > li > a:hover {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px; }

.title > h1 {
  text-align: center;
  color: #1e2bea; }

.subtitle--size--colors {
  margin: 20px; }

.containers__cards {
  width: fit-content;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: -webkit-center; }

.btn--hoover {
  display: none; }

.containers__cards:hover > .btn--hoover {
  font-family: Causten Round Blackk Oblique;
  display: block;
  background: #ffc107;
  color: black;
  border: 1px solid #ffc107; }

.containers__cards > img {
  width: 150px;
  height: 150px; }

.containers__cards__text--border {
  text-align: center;
  background: gray;
  border: solid 2px gray;
  border-radius: 10px; }

.containers__cards__text--size {
  font-size: 15px;
  color: #fff;
  font-family: cursive; }

nav {
  background: gray;
  position: sticky;
  top: 0;
  text-align-last: justify;
  padding: 10px;
  z-index: 1; }
  nav ul {
    text-align-last: justify; }
    nav ul li {
      display: flex; }
      nav ul li a {
        color: #fff;
        font-size: 15px;
        font-family: Causten Round Semi Bold Oblique; }

.border__botton {
  border-bottom: 1px solid #d9d2D7ED;
  margin-bottom: 10px; }

.conteiner__slider {
  text-align: -webkit-center; }

footer {
  background: #e7e1e1;
  border-top: 1px solid #d9d2D7ED; }

.socialitys__imgs--size {
  width: 158px; }

.containers__cards--circle {
  position: relative;
  border-radius: 77px;
  width: fit-content;
  height: auto;
  margin: 10px;
  padding: 22px; }

.containers__cards--circle > img {
  width: 107px;
  height: 95px;
  border-radius: 38px; }

.containers__cards__text__descount {
  font-size: 15px;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  text-align: center;
  background: gray;
  border: solid 2px gray;
  top: 56px;
  padding: 5px 38px; }

.termsconditios__form--container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px; }

.termsconditios {
  background-color: #fbfbfb;
  height: 100vh;
  padding: 30px; }

.conteiner__header {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo inputsearch inputsearch user";
  column-gap: 3rem; }

.img__logo {
  grid-area: logo; }

.input__group {
  text-align: center;
  grid-area: inputsearch;
  align-self: center; }

.divs__acces__user {
  text-align: -webkit-right;
  align-self: center;
  grid-area: user; }

.img__logo {
  width: 200px; }

@keyframes zoom {
  from {
    transform: rotate(0); }
  to {
    transform: scale(1.1); } }

.containers__cards > img:hover {
  animation-name: zoom;
  animation-duration: 2s;
  border-radius: 50%;
  -webkit-border-radius: 50%; }

.contact__form {
  max-width: 548px;
  background-color: rgba(255, 255, 255, 0.99);
  border-radius: 8px;
  border-top: none;
  padding: 40px;
  border: none;
  margin-left: 37px;
  margin: 20px;
  position: fixed; }

form {
  max-width: 100% !important;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap; }
  form input {
    width: 45%;
    height: 48px;
    margin: 10px 5px;
    padding: 14px; }

.contact__form > h1 {
  text-align: center; }

.view__port {
  height: 100vh; }

.termsconditios {
  overflow: hidden; }

.img__logo {
  animation: rotate 8s; }

@keyframes rotate {
  from {
    transform: rotateY(360deg); }
  to {
    transform: rotate(0g); } }

.box__card {
  padding-top: 25px; }

.contenedorslider {
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 30px; }

.slider {
  position: relative;
  width: 100%;
  height: 300px; }

.slider > li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: white;
  transition: opacity .5s; }

.men {
  text-align: center;
  margin: 20px; }

.men li {
  display: inline-block;
  text-align: center; }

.men > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.slider > li > img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.slider > li:first-child {
  opacity: 1; }

.slider li:target {
  opacity: 1; }

.men li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%; }

ul > li {
  list-style: none; }

.card__discount--border:hover {
  border: 1px solid gray; }

.section--carousel {
  background: #c0bcb07a;
  width: 100%; }

.img__caroulsel---size {
  width: 195px; }

.carousel--center {
  text-align: center; }

.oferts {
  text-align: center; }

.oferts__img {
  width: 80%; }

.section__oferts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.price--old {
  text-decoration: line-through; }

.card__price--new {
  color: #62ab00; }

.card-title {
  color: #62ab00; }

.card {
  cursor: pointer; }

.card:hover {
  border: 1px solid gray;
  box-shadow: 0 7px 16px 0rgba 0, 0, 0, 0.2, 0 1px 3px 0rgba 0, 0, 0, 0.1; }

.text {
  text-align: center;
  justify-content: center; }

.text h1 {
  margin-top: 35px;
  color: white; }

.category__products--grids {
  display: none; }

.category__products--grids {
  transition-property: all;
  transition-duration: 2s; }

.categorys__products {
  max-width: 500px;
  margin: 10px;
  cursor: pointer;
  text-align: center; }

.categorys__products:hover {
  border: 1px dashed #e9d504;
  border-radius: 15px;
  padding: 10px; }

.categorys__products:hover > .category__products--grids {
  display: block; }

.categorys__products img {
  width: 50%; }

.brands__box {
  width: 250px;
  height: 250px;
  align-self: center;
  border-radius: 15px; }
  .brands__box .brands__images {
    width: 50%; }

.carrousel__container {
  position: relative; }

.carrousel__siguiente,
.carrousel__anterior {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #ec731e;
  z-index: 1; }

.carrousel__anterior {
  left: 10px; }

.carrousel__siguiente {
  right: 10px; }

.divs__acces__user > img {
  border-radius: 15px;
  background: #ECC502;
  padding: 3px; }

.user--size {
  width: 30px;
  padding: 5px !important; }

.user__btn {
  padding: 3px; }

.user__btn--padding {
  padding: 6px; }

.button__get {
  width: 100%;
  padding: 13px 0;
  font-size: 17px;
  border-radius: 12px;
  border: #6f42c1;
  color: #fff;
  background: #6f42c1; }

.button__get:hover {
  background: #6610f2;
  box-shadow: none; }

.button__get:active {
  background: #6610f2;
  box-shadow: none; }

.button__get:active:focus {
  background: #6610f2;
  box-shadow: none; }

.modal__input--color {
  background: #88898a45; }

.border__botton--modal {
  border-bottom: none; }

.text-right {
  text-align: right; }

.cursor_pointer {
  cursor: pointer; }

.button__get--white {
  width: 100%;
  padding: 13px 0;
  font-size: 17px;
  border-radius: 12px;
  background: #fff;
  color: #653f90;
  border: 1px solid #6610f2; }

.button__get--white:hover {
  background: #fff;
  color: #653f90;
  box-shadow: none; }

.delete_add_product {
  width: 19px; }

.quantitybtn__container {
  align-items: center;
  justify-content: space-between;
  width: 60px;
  max-width: 84px;
  height: 24px;
  border: 1px solid black;
  border-radius: 15px;
  color: #653f90;
  border-radius: 6px;
  padding: 4px;
  font-family: Causten Round Semi Bold Oblique;
  font-size: 14px; }

.quantitybtn__product {
  cursor: pointer;
  width: 16px;
  height: 16px;
  font-size: 9px;
  background-color: #653f90;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  color: #fff; }

.div__images {
  align-self: center; }

.canvas__footer {
  text-align: -webkit-center; }

.offcanvas-body {
  height: calc(100% - 270px); }

.button__car {
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.canvas_card {
  box-shadow: 0 0 8px 1px;
  border-radius: 12px;
  border: none; }

.card__detail {
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 0 8px 1px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.3fr;
  grid-template-areas: "detail-image" "title" "descript" "button"; }

.card__detail--images {
  grid-area: detail-image;
  margin: 10px;
  text-align: center; }

.card__detail--images > img {
  width: 80%;
  max-width: 300px; }

.card__detail--title {
  font-size: 14px;
  grid-area: title; }

.card__detail--description {
  grid-area: descript; }

.button__center {
  width: 80%;
  grid-area: button;
  place-content: center; }

.detail__products {
  margin: 30px; }

.card__buttom {
  text-align: -webkit-center; }

.title__span {
  color: black; }

.text__decoration {
  text-decoration: none; }

.box-shadow {
  box-shadow: 0 0 8px 1px; }

.profile__container {
  padding: 10px 20px; }

.profaile__container--items {
  margin: 100px 0px; }

.profile_image {
  border-radius: 50%;
  width: 60%; }

.profile__container--image {
  text-align: center; }

.nav-link:hover {
  font-family: Causten Round Medium Oblique; }

.container__footer {
  text-align: center;
  align-items: center; }

.footer__title {
  text-align: left; }

.footer__social--medias {
  min-width: none;
  width: 40px; }

.footer__title > h3 {
  color: #000000; }

.text__derechos {
  margin: 0;
  text-align: center;
  border-top: 1px solid #d9d2D7ED; }

.category__text {
  padding: 5px;
  margin-bottom: 20px;
  text-align: center; }
  .category__text .category__text--title {
    font-size: 2.5rem; }
  .category__text .category__text--description {
    color: #808080;
    font-size: 2rem;
    line-height: 30px; }

.color_purple {
  color: #653F90; }

.profile__name {
  font-size: 30px; }

.profile__email {
  font-size: 20px; }

.profile__logo {
  width: 50%; }

.input_profile--mail {
  background-image: url(../img/mail.webp);
  background-size: 23px; }

.input_profile--user {
  background-image: url(../img/profile.webp); }

.input_profile--direction {
  background-image: url(../img/direction.webp);
  background-size: 21px; }

.input_profile--pass {
  background-image: url(../img/pencill.webp);
  background-size: 21px; }

.profile__container--margin {
  margin-right: 50px; }

.profile__config {
  height: fit-content; }

.button__get--profile {
  font-size: 17px;
  border-radius: 12px;
  border: #6f42c1;
  color: #fff;
  background: #6f42c1; }

@media only screen and (max-width: 541px) {
  .profile__container {
    margin-bottom: 30px; }
  .input__group--relative {
    width: 100%; }
  .categorys__products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen namea" "imagen  description";
    column-gap: 1px; }
  .img__caroulsel---size {
    width: 145px; }
  .categorys__products {
    align-items: center; }
    .categorys__products img {
      width: 155px; }
  .categorys__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen namea" "imagen  description";
    column-gap: 1px; }
  .category__image {
    grid-area: imagen; }
  .category__name {
    grid-area: namea;
    font-size: 25px; }
  .category__descrition {
    grid-area: description;
    text-align: left;
    font-size: 15px; }
  .conteiner__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    grid-template-areas: "logo user" "inputsearch inputsearch  " "navitems navitems  ";
    column-gap: 0rem; }
  .img__logo {
    width: 150px; }
  .acces__user--select {
    display: none; }
  .divs__acces__user {
    grid-column-start: none; }
  nav > ul {
    display: inline-grid;
    text-align-last: auto; }
  nav {
    background: gray;
    position: sticky;
    top: 0;
    /* text-align-last: justify; */
    padding: 10px;
    z-index: 1; }
  .contact__form {
    position: relative !important;
    top: 0 !important;
    margin-bottom: 0; }
  .termsconditios {
    overflow: scroll; } }

@media only screen and (max-width: 768px) {
  .profile__container {
    margin-bottom: 30px; }
  .conteiner__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    grid-template-areas: "logo user" "inputsearch inputsearch  " "navitems navitems  ";
    column-gap: 0rem; }
  .acces__user--select {
    display: none; }
  .categorys__products img {
    width: 165px; }
  .categorys__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen namea" "imagen  description";
    column-gap: 1px; }
  .category__image {
    grid-area: imagen; }
  .category__name {
    grid-area: namea; }
  .category__descrition {
    grid-area: description;
    text-align: left; } }

.title__product {
  color: #444; }

@media only screen and (max-width: 800px) {
  .contenedorslider {
    display: none; } }

@media only screen and (min-width: 801px) {
  .profile__config--alig {
    justify-content: center; }
  .card__detail {
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0 0 8px 1px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: "detail-image title" "detail-image descript" "detail-image button"; }
  .carousel {
    display: none; }
  .card__detail--title {
    grid-area: title; }
  .card__detail--description {
    grid-area: descript; }
  .button__center {
    grid-area: button;
    place-content: center; }
  .card__buttom {
    align-self: center; }
  .card__detail--images {
    align-self: center; } }
