//componentes

//map-get
$button--addcarbackground: (back_color: #ffc107, color_text: black, border:none, borders_apply:1px solid #ffc107);


//get
@mixin medidas($width, $height) {
    width: $width;
    height: $height;
}
$boton_get--color: #6610f2;
$cursor_pointer: pointer;

$text_card--background: gray;

%containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
%input_profile{
    background: #E9ECEF;
    background-repeat: no-repeat;
    background-position-x: 5px;
    padding: 0 30px;
    background-position-y: center;
}

%flex-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin sizes_images($width){
    width: $width;
}
$card--new--price: #62ab00;


@mixin ocultar {
    display: none;
}
%user__btn {
    border-radius: 20px;
}
$padding--images--buttoms:(padding-user:3px, padding-car:6px);

$price--old: #d43737;